.done {
    text-decoration: line-through;
}

.lightMode {
    color: #0b0c0c;
    background-color: #d5d9d9;
}

.darkMode {
    color: #dee5e5;
    background-color: #070c0c;
}

.h2StyleUpdate {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.listItemStyleUpdate {
    font-size: 90px;
    font-weight: 600;
    font-family: 'Niconne', cursive;
    color: #e0d6e9;
    text-shadow: 2px 2px 0px #957dad,
        4px 4px 0px #ee4b2b,
        6px 6px 0px #00c2cb,
        8px 8px 0px #ff7f50,
        10px 10px 0px #553c9a;
}