.backgroundGradient {
    background-color: purple;
}

#background_canvas_block{
    text-align: center;
    text-shadow: 1px 3px black;
    color: aliceblue;
    font-size: 2em;
    
    background-color: rgba(18, 18, 18, 0.56);
    border-radius: 50px;

    margin: 1em auto;
    padding: 1em;
    height: 150px;
    width: 90%;
}